/* Our CSS file. */
#container{
    height: 100%;
    width: 100%;
}

.list{
    height: 50%;
    width: 50%;
    float: left;
}
.img{
    height:50%;
    width: 50%;
    float: left;

}

.p{
    text-align: center;
    float: left;
    height: 50%;
    width: 50%;
    margin: 180px 0px;
}
